@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --amarillo: #cfaa5d;
  --negro: #131312;
  --blanco: #ffff;
}

#body {
  overflow-x: hidden;
  width: 100vw;
}

/*------------------HEADER--------------------*/

.logo-img {
  width: 100px;
  height: auto;
  transition: width 0.3s ease, height 0.3s ease; /* Transición en ambas dimensiones */
}

.icon__language {
  width: 18px;
  height: 18px;
}

i {
  width: 15px;
  height: 15px;
  color: var(--amarillo);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: var(--negro);
  position: fixed;
  top: 0;
  z-index: 10;
  transition: height 0.3s ease, padding 0.3s ease;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden; /* Para evitar que el logo sobresalga */
}

#header.header-small {
  height: 65px;
  padding-left: 35px;
  padding-right: 35px;
  opacity: 0.9;
}

#header.header-small .logo-img {
  width: 75px;
}

/*-----------------NAVBAR---------------------*/

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-navbar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 50px;
}

.a-navbar-top {
  color: var(--amarillo);
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.bars__menu {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
}

.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--amarillo);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}

.activeline1__bars__menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars__menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars__menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

/*------------------MAIN----------------------------*/

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

/*---------------SECTION VIDEO-----------------------*/

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;

  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 15%;
  left: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.overlay__en {
  position: absolute;
  top: 15%;
  left: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.jm-blanco {
  position: relative;
  top: 13%;
}

.logo img {
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 100px;
}

.text {
  font-size: 2em;
  display: flex;
  height: 70px;
  align-items: center;
  position: absolute;
  z-index: 5;
  margin-left: 80px;
}

.line {
  position: absolute;
  top: 175%;
  width: 1300px;
  height: 1px;
  background-color: white;
}

.line-bottom {
  position: absolute;
  top: 95%;
  left: 6%;
  width: 1300px;
  height: 1px;
  background-color: white;
}

.hache-uno {
  position: relative;
  top: 35%;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
}

.hache-uno-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 15%;
  left: 4%;
  height: 300px;
  gap: 50px;
  animation: zoomIn 1.5s ease-out forwards;
  opacity: 0;
}

.hache__uno__container__en {
  left: 8%;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.button-hero {
  position: relative;
  top: 50%;
  right: 3%;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: beige;
  color: rgb(69, 44, 44);
}

.button-hero:hover {
  background: var(--amarillo);
  color: white;
  transform: scale(1.05);
}

.button__es {
  right: 0%;
}

.container-welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
  gap: 75px;
}

.p-welcome {
  position: relative;
  left: 30%;
  top: 25%;
  font-size: 1.5rem;
}

.jm {
  position: relative;
  top: 30%;
  font-size: 5rem;
}

/*------------- SECTION NOSOTROS-----------------*/

#nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hache-dos-pag {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--negro);
  color: var(--amarillo);
  font-family: "Playfair Display SC";
  font-size: 1.4rem;
}

.img-hero {
  position: relative;
  width: 100vw;
  height: 95vh;
  background: url("../img/img-nosotros-puerto.png") no-repeat center
    center/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.img-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 244, 244, 0.8);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 50px;
}

.text-nosotros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 70%;
}

.text-nosotros {
  font-size: 1.5rem;
  color: var(--negro);
  font-family: "Cormorant Garamond";
  font-weight: 1000;
  line-height: 2rem;
  width: 100%;
  text-align: justify;
}

.especial-nosotros {
  display: flex;
  gap: 6px;
}

.img-nosotros {
  position: relative;
  top: 50%;
  transform: translateY(-5%);
}

.img-logo-nosotros {
  width: 275px;
}

/*----------------SECTION SERVICIOS-----------------*/

#servicios {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: var(--negro);
}

.servicio-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.container-servicios {
  display: flex;
  flex-direction: column;
}

.container-first-row {
  display: flex;
  width: 1300px;
  gap: 50px;
}

.container-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  width: 100%;
}

.column-left,
.column-right {
  width: 50%;
  display: flex;
}

.p-s,
.h-t-s,
.p-c-s,
.a-c-s {
  color: var(--amarillo);
  text-align: center;
}

.info-box {
  display: none;
  padding: 15px;
  background-color: var(--amarillo);
  border-radius: 8px;
  margin-top: 10px;
  color: #333;
}

.info-button {
  width: 35%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: var(--amarillo);
  margin-left: 10px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 25px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.info-button:hover {
  transform: scale(1.05);
  background-color: var(--amarillo);
  color: black;
  z-index: 3;
}

.hache-tres-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: var(--amarillo);
}

.img-servicios {
  width: 175px;
  max-height: 200px;
  object-fit: cover;
}

.h-t-text {
  text-align: center;
}

.modal-text {
  text-indent: -0.5rem;
  line-height: 1.5rem;
  text-align: justify;
}

.modal__text__en {
  position: relative;
  right: 1.5%;
}

.asesoria {
  text-indent: -0.7rem;
}

.modal-overlay {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(255, 255, 255);
  padding: 20px;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.punto {
  font-size: 2rem;
}

.especial {
  position: relative;
  left: 0.5%;
  margin-right: 50px;
}

.especial-trading {
  margin-right: 150px;
}

.especial-logistica {
  margin-right: 100px;
}

.especial-logistica-dos {
  margin-right: 150px;
}

.barrita {
  font-size: 1.2rem;
  font-family: sans-serif;
}

/*----------------------MISION Y VISION---------------------------------*/

#myv {
  position: relative;
  width: 100%;
  height: 150vh; /* Puedes ajustar el tamaño según tus necesidades */
  overflow: hidden;
}

.backgroundmyv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
}

.backgroundmyv {
  position: absolute; /* Fija el contenedor a la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenedor */
  width: 1000px;
  height: 750px; /* Puedes ajustar este tamaño según lo que necesites */
  background-image: url("../img/mvv.png"); /* Cambia por la URL de tu imagen */
  background-size: cover; /* Escala para llenar todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}

.backgroundmyv-text {
  font-size: 1.5rem;
  color: var(--negro);
  font-family: "Cormorant Garamond";
  font-weight: 1000;
  line-height: 2rem;
  text-align: justify;
}

/* Estilos generales del contenedor */
.banner-container {
  background: linear-gradient(to right, #3e3e3e, #564e4e); /* Fondo degradado */
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: relative;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para la misión y visión */
.container-nosotros {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.content-nosotros {
  flex: 1 1 45%;
  background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  padding: 15px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.content-nosotros h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-nosotros p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/*----------------------------CONTACTO----------------------------------*/

.container-info {
  display: flex;
  gap: 50px;
  padding-top: 35px;
  width: 100vw;
}

.container-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 15%;
  transform: translateY(30%);
  width: 40%;
  height: 30vh;
}

.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.a-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-img {
  width: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 60%;
  position: relative;
  right: 10%;
}

.position {
  position: relative;
  right: 10%;
}

.position-input {
  position: relative;
  right: 52%;
  transform: translateX(50%);
}

.fcontainer {
  padding-bottom: 35px;
}

.form-container {
  display: flex;
  gap: 15px;
}

.input-form {
  width: 150px;
}

.textArea {
  width: 315px;
  min-height: 200px;
}

.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--negro);
  color: var(--amarillo);
  border: 3px solid var(--amarillo);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.btn:hover {
  background: var(--amarillo);
  color: white;
  transform: scale(1.05);
  border: 3px solid var(--negro);
}

/*-----------Icono de WSP--------------------------*/

#whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

#whatsapp-icon img {
  width: 100%;
  height: auto;
}

/*---------------------------------FOOTER---------------------------------------------*/

.footer {
  background-color: var(--negro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding-left: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 190px;
}

.logo-footer {
  width: 75px;
}

.footer-a {
  color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-footer {
  width: 20px;
}

.p-footer {
  width: 100%;
  text-align: center;
  color: var(--amarillo);
}

/*------------------------------FUENTES DE LA PÁGINA-----------------------------------*/

.gothic {
  font-family: "Gothic A1";
}

.cormorant {
  font-family: "Cormorant Garamond";
}

.a-navbar-top {
  font-family: "Playfair Display SC";
}

.playfair {
  font-family: "Playfair Display SC";
  font-size: 1.3rem;
}

.playfair-in {
  font-family: "Playfair Display SC";
  font-size: 1.2rem;
}

.servicios-cormorant {
  font-family: "Cormorant Garamond";
  font-size: 1.3rem;
}

.servicios-cormorant-in {
  font-family: "Cormorant Garamond";
  font-size: 1.1rem;
}

/*------------------------MEDIA-QUERIES------------------------------*/

@media (max-width: 992px) {
  .bars__menu {
    display: block;
  }
  .bars__menu {
    display: block;
    cursor: pointer;
    z-index: 11; /* Para asegurarse de que el botón esté siempre encima */
  }

  /* Ocultar el menú por defecto */
  .navbar-top {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--negro);
    flex-direction: column;
    align-items: center;
    z-index: 10;
    overflow-y: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* Mostrar el menú cuando se active */
  .navbar-top.visible {
    opacity: 1;
    visibility: visible;
  }

  .ul-navbar-top {
    display: flex;
    flex-direction: column;
  }

  .li-navbar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .a-navbar-top {
    display: flex;
    gap: 15px;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .no-scroll {
    position: relative;
    top: -200%;
    left: -200%;
    overflow: hidden;
  }
}
